In [8]:
library("readxl")
library("tseries")
library("TSA")
library("gdata")

In [13]:
df <- read_excel("./Toronto_Temperature.xlsx")

     Date       Temperature
1    2018-03-18  2.04
2    2018-03-19 -3.65
3    2018-03-20 -2.20
4    2018-03-21  0.10
5    2018-03-22  0.54
6    2018-03-23 -0.05
7    2018-03-24 -1.35
8    2018-03-25 -2.29
9    2018-03-26  3.39
10   2018-03-27  4.80
11   2018-03-28  5.05
12   2018-03-29  3.70
13   2018-03-30  1.60
14   2018-03-31  3.90
15   2018-04-01 -0.05
16   2018-04-02  1.90
17   2018-04-03  3.25
18   2018-04-04  0.19
19   2018-04-05 -1.70
20   2018-04-06  0.60
21   2018-04-07 -2.59
22   2018-04-08 -1.85
23   2018-04-09 -1.10
24   2018-04-10  1.65
25   2018-04-11  2.60
26   2018-04-12  6.90
27   2018-04-13  3.75
28   2018-04-14 -0.30
29   2018-04-15 -1.60
30   2018-04-16  1.85
⋮    ⋮          ⋮
1066 2021-02-15  -6.94
1067 2021-02-16 -11.15
1068 2021-02-17 -10.30
1069 2021-02-18  -6.40
1070 2021-02-19  -4.84
1071 2021-02-20  -6.60
1072 2021-02-21  -6.95
1073 2021-02-22   0.54
1074 2021-02-23   1.79
1075 2021-02-24   3.90
1076 2021-02-25  -1.40
1077 2021-02-26  -1.55
1078 2021-02-27   2.54
1079 2021-02-28   2.40
1080 2021-03-01  -2.20
1081 2021-03-02  -6.70
1082 2021-03-03   2.20
1083 2021-03-04  -3.60
1084 2021-03-05  -4.35
1085 2021-03-06  -4.69
1086 2021-03-07  -5.35
1087 2021-03-08   0.20
1088 2021-03-09   4.15
1089 2021-03-10   6.50
1090 2021-03-11  12.40
1091 2021-03-12   3.25
1092 2021-03-13  -0.70
1093 2021-03-14  -1.29
1094 2021-03-15  -5.00
1095 2021-03-16   0.55